<main class="bg-slate-50 dark:bg-slate-900">
  <div
    class="mx-auto flex flex-col items-center justify-center px-6 pt-8 md:h-screen dark:bg-slate-900"
  >
    <a
      routerLink="/"
      class="mb-6 flex cursor-pointer items-center justify-center text-2xl font-semibold lg:mb-8 dark:text-white"
    >
      <img
        src="/assets/images/innovatube.png"
        class="h-10 w-10 rounded-md"
        alt="InnovaTube Logo"
      />
      <span
        class="text-primary-600 ml-1 inline-block self-center whitespace-nowrap text-4xl font-medium leading-8 dark:text-white"
      >
        <span class="text-yellow-600">Innova</span
        ><span class="text-red-400 dark:text-white">Tube</span>
      </span>
    </a>

    <div class="w-full flex-1">
      <div
        class="mx-auto w-full flex-col items-center justify-center space-y-8 rounded-lg bg-white p-6 shadow sm:p-8 md:mt-0 lg:flex lg:max-w-screen-md lg:p-16 dark:bg-slate-800"
      >
        <div class="max-w-lg">
          <h2
            class="text-primary-700 text-2xl font-medium lg:text-3xl dark:text-white"
          >
            ¿Olvidaste tu contraseña?
          </h2>
          <p class="pt-4 text-slate-500 dark:text-slate-300">
            ¡No te preocupes! ¡Ingresa tu email y te enviaremos un código para
            restablecer tu contraseña!
          </p>
          <form
            [formGroup]="forgotPasswordForm"
            class="w-full space-y-6 py-8"
            (submit)="submitForm()"
          >
            @if (messages.length) {
              <p-messages [(value)]="messages" [enableService]="false" />
            }
            <div>
              <label
                for="email"
                class="mb-2 block text-sm font-medium text-slate-900 dark:text-white"
                >Tu email</label
              >
              <input
                type="email"
                id="email"
                formControlName="email"
                pInputText
                placeholder="Email"
                required
                class="w-full"
                [readonly]="loading"
                [class.opacity-50]="loading"
              />
              @if (
                forgotPasswordForm.get("email")?.invalid &&
                forgotPasswordForm.get("email")?.touched
              ) {
                <small
                  class="mt-1 block text-xs text-red-600 dark:text-red-400"
                >
                  @if (forgotPasswordForm.get("email")?.errors?.["required"]) {
                    Tu email es requerido
                  } @else if (
                    forgotPasswordForm.get("email")?.errors?.["email"]
                  ) {
                    Email inválido
                  } @else {
                    Error en el campo
                  }
                </small>
              }
            </div>
            <div>
              <re-captcha
                (resolved)="onRecaptchaResolved($event)"
                formControlName="recaptcha"
                [siteKey]="siteKey"
                class="flex justify-center"
              ></re-captcha>
              @if (
                forgotPasswordForm.get("recaptcha")?.invalid &&
                forgotPasswordForm.get("recaptcha")?.touched
              ) {
                <small
                  class="mt-1 block text-xs text-red-600 dark:text-red-400"
                >
                  @if (forgotPasswordForm.get("recaptcha")?.errors?.["required"]) {
                    Completa el reCaptcha
                  } @else {
                    Error en el campo
                  }
                </small>
              }
            </div>
            <div class="pt-2">
              <p-button
                type="submit"
                [label]="loading ? 'Enviando' : 'Restablecer la contraseña'"
                icon="pi pi-check"
                class="btn-submit"
                [disabled]="forgotPasswordForm.invalid"
                [loading]="loading"
              ></p-button>
            </div>
            <div class="pt-2 text-center">
              <p-button
                routerLink="/login"
                [text]="true"
                severity="secondary"
                class="btn-submit"
                icon="pi"
              >
                Iniciar sesión
              </p-button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <p class="p-2 pb-8 text-center text-xs text-slate-600 dark:text-slate-500">
      InnovaTube es un desarrollo de Carlos Leopoldo Magaña Zavala
    </p>
  </div>
</main>
