<main class="min-h-screen bg-slate-50 dark:bg-slate-800">
  <div class="w-full bg-slate-200 shadow-lg dark:bg-slate-700">
    <div class="mx-auto flex max-w-screen-xl flex-wrap p-2">
      <div
        class="order-1 w-1/3 md:order-1 md:w-1/6 md:items-center md:justify-center"
      >
        <a
          routerLink="/videos"
          class="flex h-12 cursor-pointer items-center justify-center text-lg font-semibold md:text-xl dark:text-white"
        >
          <img
            src="/assets/images/innovatube.png"
            class="h-6 w-6 rounded-md"
            alt="InnovaTube Logo"
          />
          <span
            class="text-primary-600 ml-1 inline-block self-center whitespace-nowrap font-medium leading-8 dark:text-white"
          >
            <span class="text-yellow-600">Innova</span
            ><span class="text-red-400 dark:text-white">Tube</span>
          </span>
        </a>
      </div>

      <div class="order-3 w-full md:order-2 md:w-3/6">
        <div
          class="flex items-center justify-between gap-2 rounded-md border px-1.5 py-2 text-slate-900 dark:text-white"
          [class.border-slate-300]="!isInputFocused"
          [class.bg-slate-100]="!isInputFocused"
          [class.dark:border-slate-600]="!isInputFocused"
          [class.dark:bg-slate-800]="!isInputFocused"
          [class.border-slate-200]="isInputFocused"
          [class.bg-slate-50]="isInputFocused"
          [class.ring-2]="isInputFocused"
          [class.ring-slate-400]="isInputFocused"
          [class.dark:border-slate-700]="isInputFocused"
          [class.dark:bg-slate-900]="isInputFocused"
          [class.dark:ring-slate-500]="isInputFocused"
        >
          <div
            class="inline-flex items-center justify-center pl-2 text-sm text-slate-400"
          >
            <i class="pi pi-search"></i>
          </div>
          <div class="flex flex-1">
            <input
              #searchInput
              placeholder="Buscar videos"
              autocomplete="off"
              autocorrect="off"
              spellcheck="false"
              aria-autocomplete="list"
              role="combobox"
              aria-expanded="true"
              type="text"
              class="h-full min-h-8 w-full border-transparent bg-transparent text-lg outline-none ring-transparent placeholder:text-slate-600 focus:outline-none focus:ring-transparent dark:placeholder:text-slate-400"
              (focus)="onInputFocus()"
              (blur)="onInputBlur()"
            />
          </div>
        </div>
      </div>

      <div class="w-full md:hidden"></div>

      <div
        class="order-2 flex w-2/3 justify-end gap-4 md:order-3 md:w-2/6 md:items-end"
      >
        <p-button [text]="true" class="hidden md:flex" routerLink="/favorites">
          <i class="pi pi-heart text-slate-800 dark:text-slate-50"></i>
          <span class="text-slate-800 dark:text-slate-50">
            <span class="ml-2 hidden lg:inline-block">Favoritos</span>
            &nbsp;
          </span>
        </p-button>
        <p-button (onClick)="userMenu.toggle($event)" [text]="true">
          <i class="pi pi-user text-slate-800 dark:text-slate-50"></i>
          <span
            class="mx-2 inline-block max-w-20 truncate text-slate-800 lg:max-w-28 dark:text-slate-50"
            >{{ userData.name }}</span
          >
          <i
            class="pi pi-chevron-down text-xs text-slate-500 dark:text-slate-100"
          ></i>
        </p-button>
        <p-menu #userMenu [model]="menuItems" [popup]="true" />
      </div>
    </div>
  </div>
  <section>
    <div class="mx-auto flex max-w-screen-xl flex-wrap p-2">
      @if (searchResults.length === 0) {
        <div
          class="mx-auto flex h-[calc(100vh-8rem)] flex-col items-center justify-center px-6 xl:px-0"
        >
          <div class="block md:max-w-lg">
            <img
              src="assets/images/illustrations/results.svg"
              alt="No hay resultados"
              class="h-auto w-64 opacity-75"
            />
          </div>
          <div class="text-center xl:max-w-4xl">
            <h1
              class="my-3 text-2xl font-bold leading-tight text-slate-900 sm:text-3xl lg:text-4xl dark:text-white"
            >
              Sin resultados de búsqueda
            </h1>
            <p
              class="mb-5 text-lg font-normal text-slate-400 md:text-xl dark:text-slate-600"
            >
              En InnovaTube, tienes el poder de buscar y descubrir videos de
              todo YouTube en un solo lugar. Encuentra, guarda y disfruta de tus
              contenidos preferidos de manera fácil y rápida. ¡Empieza a
              explorar hoy mismo!
            </p>
          </div>
        </div>
      } @else {
        <div class="container mx-auto p-4">
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4">
            @for (video of searchResults; track video) {
              <div
                class="flex flex-col overflow-hidden rounded bg-white shadow-md dark:bg-slate-950"
                (click)="openVideoPlayer(video)"
              >
                <div class="cursor-pointer">
                  <img
                    [src]="video.thumbnail"
                    alt="{{ video.title }}"
                    class="h-48 w-full object-cover"
                  />
                </div>
                <h2
                  class="mb-2 flex-1 cursor-pointer p-4 text-lg font-semibold dark:text-slate-100"
                >
                  {{ video.title }}
                </h2>
                <div class="p-4">
                  <a
                    [href]="video.link"
                    target="_blank"
                    class="text-sm text-slate-500 hover:underline dark:text-slate-400"
                  >
                    <i class="pi pi-youtube"></i>
                    Ver en YouTube
                  </a>
                  <button
                    (click)="markAsFavorite(video); $event.stopPropagation()"
                    class="mt-4 w-full rounded border border-blue-500 px-4 py-2 text-blue-500 hover:bg-blue-500 hover:text-white"
                  >
                    <i class="pi pi-heart"></i> Marcar como Favorito
                  </button>
                </div>
              </div>
            }
          </div>
        </div>
      }
      <p-dialog
        [header]="videoTitle"
        [(visible)]="displayPlayer"
        [modal]="true"
        styleClass="w-full md:2/3 lg:w-1/2"
        [closable]="true"
      >
        <iframe
          [src]="sanitizer.bypassSecurityTrustResourceUrl(videoUrl)"
          frameborder="0"
          allowfullscreen
          class="h-64 w-full md:h-96"
        ></iframe>
      </p-dialog>
    </div>
  </section>
</main>
