<main class="bg-slate-50 dark:bg-slate-900">
  <div
    class="mx-auto flex flex-col items-center justify-center px-6 pt-8 md:h-screen dark:bg-slate-900"
  >
    <a
      routerLink="/"
      class="mb-6 flex cursor-pointer items-center justify-center text-2xl font-semibold lg:mb-8 dark:text-white"
    >
      <img
        src="/assets/images/innovatube.png"
        class="h-10 w-10 rounded-md"
        alt="InnovaTube Logo"
      />
      <span
        class="text-primary-600 ml-1 inline-block self-center whitespace-nowrap text-4xl font-medium leading-8 dark:text-white"
      >
        <span class="text-yellow-600">Innova</span
        ><span class="text-red-400 dark:text-white">Tube</span>
      </span>
    </a>

    <div class="w-full flex-1">
      <div
        class="mx-auto w-full items-center justify-center rounded-lg bg-white shadow md:mt-0 lg:flex lg:max-w-screen-lg xl:p-0 dark:bg-slate-800"
      >
        <div class="hidden w-2/4 lg:flex lg:h-full">
          <img
            class="h-full w-full rounded-l-lg object-cover"
            src="assets/images/register.jpg"
            alt="Inicio de sesión"
          />
        </div>
        <div class="w-full space-y-4 p-6 sm:p-8 lg:h-full lg:p-16 lg:py-0">
          <h2
            class="text-primary-700 pt-4 text-2xl font-medium lg:text-3xl dark:text-white"
          >
            Registro de nuevo usuario
          </h2>
          <form
            [formGroup]="registerForm"
            class="space-y-4 py-8"
            (ngSubmit)="register()"
          >
            @if (messages.length > 0) {
              <p-messages [(value)]="messages"></p-messages>
            }
            <div>
              <label
                for="name"
                class="mb-2 block text-sm font-medium text-slate-900 dark:text-white"
                >Tu nombre completo</label
              >
              <input
                type="text"
                id="name"
                formControlName="name"
                pInputText
                placeholder="Nombre completo"
                required
                class="w-full"
                [readonly]="loading"
                [class.opacity-50]="loading"
              />
              @if (
                registerForm.get("name")?.invalid &&
                registerForm.get("name")?.touched
              ) {
                <small
                  class="mt-1 block text-xs text-red-600 dark:text-red-400"
                >
                  @if (registerForm.get("name")?.errors?.["required"]) {
                    Tu nombre es requerido
                  } @else {
                    Error en el campo
                  }
                </small>
              }
            </div>
            <div>
              <label
                for="email"
                class="mb-2 block text-sm font-medium text-slate-900 dark:text-white"
                >Tu email</label
              >
              <input
                type="email"
                id="email"
                formControlName="email"
                pInputText
                placeholder="Email"
                required
                class="w-full"
                [readonly]="loading"
                [class.opacity-50]="loading"
              />
              @if (
                registerForm.get("email")?.invalid &&
                registerForm.get("email")?.touched
              ) {
                <small
                  class="mt-1 block text-xs text-red-600 dark:text-red-400"
                >
                  @if (registerForm.get("email")?.errors?.["required"]) {
                    Tu email es requerido
                  } @else if (registerForm.get("email")?.errors?.["email"]) {
                    Email inválido
                  } @else {
                    Error en el campo
                  }
                </small>
              }
            </div>
            <div>
              <label
                for="user"
                class="mb-2 block text-sm font-medium text-slate-900 dark:text-white"
                >Elige un nombre de usuario</label
              >
              <input
                type="text"
                id="user"
                formControlName="user"
                pInputText
                placeholder="Usuario"
                required
                class="w-full"
                [readonly]="loading"
                [class.opacity-50]="loading"
              />
              @if (
                registerForm.get("user")?.invalid &&
                registerForm.get("user")?.touched
              ) {
                <small
                  class="mt-1 block text-xs text-red-600 dark:text-red-400"
                >
                  @if (registerForm.get("user")?.errors?.["required"]) {
                    El nombre de usuario es requerido
                  } @else if (registerForm.get("user")?.errors?.["minlength"]) {
                    El nombre de usuario debe contener al menos 4 caracteres
                  } @else {
                    Error en el campo
                  }
                </small>
              }
            </div>
            <div>
              <label
                for="password"
                class="mb-2 block text-sm font-medium text-slate-900 dark:text-white"
                >Elige una contraseña</label
              >
              <p-password
                inputId="password"
                [required]="true"
                formControlName="password"
                placeholder="Contraseña"
                [feedback]="true"
                [toggleMask]="true"
                promptLabel="Elige una contraseña"
                weakLabel="Muy simple"
                mediumLabel="Complejidad regular"
                strongLabel="Contraseña fuerte"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                [disabled]="loading"
              />
              @if (
                registerForm.get("password")?.invalid &&
                registerForm.get("password")?.touched
              ) {
                <small
                  class="mt-1 block text-xs text-red-600 dark:text-red-400"
                >
                  @if (registerForm.get("password")?.errors?.["required"]) {
                    La contraseña es requerida
                  } @else if (
                    registerForm.get("password")?.errors?.["minlength"]
                  ) {
                    La contraseña debe contener al menos 8 caracteres
                  } @else {
                    Error en el campo
                  }
                </small>
              }
            </div>
            <div>
              <label
                for="password_repeat"
                class="mb-2 block text-sm font-medium text-slate-900 dark:text-white"
                >Repite la contraseña</label
              >
              <p-password
                inputId="password_repeat"
                [required]="true"
                formControlName="password_repeat"
                placeholder="Repite la contraseña"
                [feedback]="false"
                [toggleMask]="true"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                [disabled]="loading"
              />
              @if (
                registerForm.get("password_repeat")?.invalid &&
                registerForm.get("password_repeat")?.touched
              ) {
                <small
                  class="mt-1 block text-xs text-red-600 dark:text-red-400"
                >
                  @if (
                    registerForm.get("password_repeat")?.errors?.["required"]
                  ) {
                    La confirmación de la contraseña es requerida
                  } @else {
                    Error en el campo
                  }
                </small>
              }
              @if (
                registerForm.errors?.["mismatch"] &&
                registerForm.get("password_repeat")?.touched
              ) {
                <small
                  class="mt-1 block text-xs text-red-600 dark:text-red-400"
                >
                  Las contraseñas no coinciden.
                </small>
              }
            </div>
            <div>
              <re-captcha
                (resolved)="onRecaptchaResolved($event)"
                formControlName="recaptcha"
                [siteKey]="siteKey"
              ></re-captcha>
              @if (
                registerForm.get("recaptcha")?.invalid &&
                registerForm.get("recaptcha")?.touched
              ) {
                <small
                  class="mt-1 block text-xs text-red-600 dark:text-red-400"
                >
                  @if (registerForm.get("recaptcha")?.errors?.["required"]) {
                    Completa el reCaptcha
                  } @else {
                    Error en el campo
                  }
                </small>
              }
            </div>
            <div class="pt-2">
              <p-button
                type="submit"
                [label]="loading ? 'Enviando' : 'Crear nuevo usuario'"
                icon="pi pi-check"
                class="btn-submit"
                [disabled]="registerForm.invalid"
                [loading]="loading"
              ></p-button>
            </div>
            <div class="pt-2 text-center">
              <p-button
                routerLink="/login"
                [text]="true"
                severity="secondary"
                class="btn-submit"
                icon="pi"
                >Iniciar sesión</p-button
              >
            </div>
          </form>
        </div>
      </div>
    </div>
    <p class="p-2 pb-8 text-center text-xs text-slate-600 dark:text-slate-500">
      InnovaTube es un desarrollo de Carlos Leopoldo Magaña Zavala
    </p>
  </div>
</main>
