<main class="min-h-screen bg-slate-50 dark:bg-slate-800">
  <div class="w-full bg-slate-200 shadow-lg dark:bg-slate-700">
    <div class="mx-auto flex max-w-screen-xl flex-wrap p-2">
      <div
        class="order-1 w-1/3 md:order-1 md:w-1/6 md:items-center md:justify-center"
      >
        <a
          routerLink="/videos"
          class="flex h-12 cursor-pointer items-center justify-center text-lg font-semibold md:text-xl dark:text-white"
        >
          <img
            src="/assets/images/innovatube.png"
            class="h-6 w-6 rounded-md"
            alt="InnovaTube Logo"
          />
          <span
            class="text-primary-600 ml-1 inline-block self-center whitespace-nowrap font-medium leading-8 dark:text-white"
          >
            <span class="text-yellow-600">Innova</span
            ><span class="text-red-400 dark:text-white">Tube</span>
          </span>
        </a>
      </div>

      <div class="order-3 w-full md:order-2 md:w-3/6">
        <a
          routerLink="/videos"
          class="flex items-center justify-between gap-2 rounded-md border border-slate-300 bg-slate-100 px-1.5 py-2 text-slate-900 dark:border-slate-600 dark:bg-slate-800 dark:text-white"
        >
          <div
            class="inline-flex items-center justify-center pl-2 text-sm text-slate-400"
          >
            <i class="pi pi-search"></i>
          </div>
          <div class="flex flex-1">
            <div
              class="h-full min-h-8 w-full pt-0.5 text-lg text-slate-600 dark:text-slate-400"
            >
              Buscar videos
            </div>
          </div>
        </a>
      </div>

      <div class="w-full md:hidden"></div>

      <div
        class="order-2 flex w-2/3 justify-end gap-4 md:order-3 md:w-2/6 md:items-end"
      >
        <p-button [text]="true" class="hidden md:flex" routerLink="/favorites">
          <i class="pi pi-heart text-slate-800 dark:text-slate-50"></i>
          <span class="text-slate-800 dark:text-slate-50">
            <span class="ml-2 hidden lg:inline-block">Favoritos</span>
            &nbsp;
          </span>
        </p-button>
        <p-button (onClick)="userMenu.toggle($event)" [text]="true">
          <i class="pi pi-user text-slate-800 dark:text-slate-50"></i>
          <span
            class="mx-2 inline-block truncate text-slate-800 max-w-20 lg:max-w-28 dark:text-slate-50"
            >{{ userData.name }}</span
          >
          <i
            class="pi pi-chevron-down text-xs text-slate-500 dark:text-slate-100"
          ></i>
        </p-button>
        <p-menu #userMenu [model]="menuItems" [popup]="true" />
      </div>
    </div>
  </div>

  <section>
    <div class="mx-auto flex max-w-screen-xl flex-wrap p-2">
      @if (videos.length === 0) {
        <div
          class="mx-auto flex h-[calc(100vh-8rem)] flex-col items-center justify-center px-6 xl:px-0 dark:bg-slate-900"
        >
          <div class="block md:max-w-lg">
            <img
              src="assets/images/illustrations/likes.svg"
              alt="No hay resultados"
              class="h-auto w-64 opacity-75"
            />
          </div>
          <div class="text-center xl:max-w-4xl">
            <h1
              class="my-3 text-2xl font-bold leading-tight text-slate-900 sm:text-3xl lg:text-4xl dark:text-white"
            >
              No tienes favoritos guardados
            </h1>
            <p
              class="mb-5 text-lg font-normal text-slate-400 md:text-xl dark:text-slate-600"
            >
              Aún no has marcado ningún video como favorito. Empieza a explorar
              y guarda los videos que más te gusten para tenerlos siempre a la
              mano.
            </p>
          </div>
        </div>
      } @else {
        <pre>{{ videos | json }}</pre>
      }
    </div>
  </section>
</main>
