<main class="bg-slate-50 dark:bg-slate-900">
  <div
    class="mx-auto flex flex-col items-center justify-center px-6 pt-8 md:h-screen dark:bg-slate-900"
  >
    <a
      routerLink="/"
      class="mb-6 flex cursor-pointer items-center justify-center text-2xl font-semibold lg:mb-8 dark:text-white"
    >
      <img
        src="/assets/images/innovatube.png"
        class="h-10 w-10 rounded-md"
        alt="InnovaTube Logo"
      />
      <span
        class="text-primary-600 ml-1 inline-block self-center whitespace-nowrap text-4xl font-medium leading-8 dark:text-white"
      >
        <span class="text-yellow-600">Innova</span
        ><span class="text-red-400 dark:text-white">Tube</span>
      </span>
    </a>

    <div class="w-full flex-1">
      <div
        class="mx-auto w-full items-center justify-center rounded-lg bg-white shadow md:mt-0 lg:flex lg:max-w-screen-lg xl:p-0 dark:bg-slate-800"
      >
        <div class="hidden w-2/4 lg:flex">
          <img
            class="rounded-l-lg"
            src="assets/images/login.jpg"
            alt="Inicio de sesión"
          />
        </div>
        <div class="w-full space-y-8 p-6 sm:p-8 lg:p-16 lg:py-0">
          <h2
            class="text-primary-700 text-2xl font-medium lg:text-3xl dark:text-white"
          >
            Inicio de sesión
          </h2>
          <form
            [formGroup]="loginForm"
            class="space-y-6 py-8"
            (submit)="login()"
          >
            @if (messages.length) {
              <p-messages [(value)]="messages" [enableService]="false" />
            }
            <div>
              <label
                for="user"
                class="mb-2 block text-sm font-medium text-slate-900 dark:text-white"
              >
                Nombre de usuario
              </label>
              <input
                type="text"
                id="user"
                formControlName="user"
                pInputText
                placeholder="Usuario"
                required
                class="w-full"
                [readonly]="loading"
                [class.opacity-50]="loading"
              />
              @if (
                loginForm.get("user")?.invalid && loginForm.get("user")?.touched
              ) {
                <small
                  class="mt-1 block text-xs text-red-600 dark:text-red-400"
                >
                  @if (loginForm.get("user")?.errors?.["required"]) {
                    El nombre de usuario es requerido
                  } @else {
                    Error en el campo
                  }
                </small>
              }
            </div>
            <div>
              <label
                for="password"
                class="mb-2 block text-sm font-medium text-slate-900 dark:text-white"
              >
                Contraseña
              </label>
              <p-password
                inputId="password"
                [required]="true"
                formControlName="password"
                placeholder="Contraseña"
                [feedback]="false"
                [toggleMask]="true"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                [class.opacity-50]="loading"
              />
              @if (
                loginForm.get("password")?.invalid &&
                loginForm.get("password")?.touched
              ) {
                <small
                  class="mt-1 block text-xs text-red-600 dark:text-red-400"
                >
                  @if (loginForm.get("password")?.errors?.["required"]) {
                    La contraseña es requerida
                  } @else {
                    Error en el campo
                  }
                </small>
              }
            </div>
            <div class="pt-2">
              <p-button
                type="submit"
                [label]="loading ? 'Enviando' : 'Iniciar sesión'"
                icon="pi pi-check"
                class="btn-submit"
                [disabled]="loginForm.invalid"
                [loading]="loading"
              ></p-button>
            </div>
            <div class="pt-2 text-center">
              <p-button
                routerLink="/register"
                [text]="true"
                severity="secondary"
                class="btn-submit"
                icon="pi"
              >
                Crear nueva cuenta
              </p-button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <p class="p-2 pb-8 text-center text-xs text-slate-600 dark:text-slate-500">
      InnovaTube es un desarrollo de Carlos Leopoldo Magaña Zavala
    </p>
  </div>
</main>
